snippet main
	if __name__ == '__main__':
	    ${1:pass}
snippet ic
	from collections import Counter
snippet i
	import ${1:re}
snippet jdumps
	json.dumps(${1:v},ensure_ascii=False)
snippet p
	print(${1:})
snippet :
	input()
snippet forline
	for line in open("${1:}"):
	    ${2:line=line.split()}
	    ${3:# code...}
