snippet main
	if __name__ == '__main__':
	    ${1:pass}
snippet ip
	from __future__ import print_function
snippet ic
	from collections import Counter
snippet i
	import ${1:re}
snippet jdumps
	json.dumps(${1:v},ensure_ascii=False)
snippet p
	print(${1:})
snippet :
	input()
snippet forline
	for line in open("${1:}"):
	    ${2:line=line.split()}
	    ${3:# code...}


snippet argparse
	parser = argparse.ArgumentParser()
	parser.add_argument('--test', type = str, default = 'haha')
	args = parser.parse_args()
